.headerInner{
  width: 1000px;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
}
.headerInner div{
  margin-left: 10px
  }
  
.logo{
  margin-right:auto;
  height: 27.4px;
}
.logo img{
  height: 100%;
}

.mainInner{
  width: 950px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footerInner{
  text-align: center;
  margin-top: 50px;
  padding: 30px;
}

body{
  font-family:sans-serif;
}